.requestCard {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px var(--input-white);
    position: relative;
}

.requestCard__moreInfo {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--black);
    cursor: pointer;
    font-size: 20px;
    margin: 20px 40px 0px 0px;
}

.requestCard__div--1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}

.requestCard__userPhoto {
    object-fit: cover;
    width: 96px;
    height: 96px;
    border-radius: 20px;
}

.requestCard__div--2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.requestCard__userName {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__address {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__userEmail {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__tell {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__p {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 10px 0px;
}

.requestCard__div--3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 20px 0px;
}

.requestCard__div--4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestCard__itemImg {
    object-fit: cover;
    width: 180px;
    height: 220px;
    border-radius: 10px;
}

.requestCard__itemName {
    text-align: center;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__itemSize {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__quanty {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--black);
    margin: 0px;
}

.requestCard__div--5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.requestCard__btn {
    text-transform: uppercase;
    color: var(--white);
    border-radius: 12px;
    padding: 6px 0px;
    width: 100%;
    max-width: 300px;
    border: none;
    font-size: 20px;
    font-family: var(--poppins);
    font-weight: 500;
    cursor: pointer;
}

.requestCard__btn.btn--recuse {
    background: var(--red);
}

.requestCard__btn.btn--accept {
    background: var(--green);
}

.requestCard__inRoute__div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.requestCard__inRoute__div--2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    padding: 14px;
    border-radius: 100%;
}
.requestCard__inRoute__div lord-icon {
    height: 30px;
    width: 30px;
}

.requestCard__inRoute__description {
    color: var(--black);
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
.requestCard__inRoute__date {
    color: var(--black);
    opacity: 0.9;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.requestCard__inRoute__deliveredBtn {
    color: var(--white);
    background: var(--green);
    padding: 4px 20px;
    border-radius: 10px;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    outline-width: 0px;
    border: 0px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}