:root {
    --white: #fff;
    --black: #1f1f1f;
    --yellow: #F2E38E;
    --dark-yellow: #FFE344;
    --input-white: #EEEEEE;
    --gray: #D9D9D9;
    --green: #00FF75;
    --red: #FF0000;
    --poppins: "Poppins", sans-serif;
    --teko: "Teko", sans-serif;
}

body {
    margin: 0px;
}

/* #main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--background-blue);
    height: 100vh;
    overflow: hidden;
} */